*.gif binary
*.jpg binary
*.jpeg binary
*.mp4 binary
*.pdf binary
*.png binary
*.vsdx binary
*.json text eol=lf
*.jsx text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.svg text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
